body {
	padding: 50px;
	background: white;
	color: black;
}

h1 {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 24px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

#notSupported {
	display: none;
}

#notSupported h1 {
	color: #b41a1a;
	margin-bottom: 20px;
}

#notSupported img {
	display: block;
	margin: 0 auto;
}

#ascii {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: -1.5px;
	text-align: center;
}

/* #fork,
#idevelop {
	display: block;
	position: fixed;
	z-index: 10;

	top: 0;
	right: 30px;
	padding: 10px 50px 10px 10px;

	background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
	border: 1px solid #0090ff;
	border-top: 0;

	font-family: 'Courier New', 'Courier', monospace;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	color: #fff;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#fork:hover,
#idevelop:hover {
	text-decoration: underline;
}

#idevelop {
	border: 1px solid #eee;
	border-top: 0;
	color: #333;
	right: 200px;
	background: url('../images/idevelop.png') #fff no-repeat 95% 50%;
}

*/

#button {
	display: none;
	margin: 20px auto;
	padding: 10px 20px;
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 18px;
	background-color: red;
	color: white;
	border: none;
} 
