body {		
	padding: 50px;
	background: white;
	color: black;
}

h1 {
	font-family: 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

#notSupported {
	display: none;
}

#notSupported h1 {
	color: #b41a1a;
	margin-bottom: 20px;
}

#notSupported img {
	display: block;
	margin: 0 auto;
}

#ascii {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: -1.5px;
	text-align: center;
}

#fork {
	display: block;
	position: fixed;
	z-index: 10;

	top: 0;
	right: 30px;
	padding: 10px 50px 10px 10px;
	
	background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;

	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	color: #fff;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#fork:hover {
	text-decoration: underline;
}

#pause {
  display: block;
  position: fixed;
  z-index: 10;

  top: 0;
  right: 200px;
  padding: 10px 50px 10px 10px;

  background: #0090ff;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #fff;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
