body {
	padding: 50px;
	background: white;
	color: black;
}

h1 {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 24px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

#notSupported {
	display: none;
}

#notSupported h1 {
	color: red;
	margin-bottom: 20px;
}

#notSupported img {
	display: block;
	margin: 0 auto;
}

#ascii {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: -1.5px;
	text-align: center;
}

#button {
	display: none;
	margin: 20px auto;
	padding: 10px 20px;
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 18px;
	background-color: red;
	color: white;
	border: none;
} 