body {		
	padding: 50px;
	background: white;
	color: black;
}

h1 {
	font-family: 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

#notSupported {
	display: none;
}

#notSupported h1 {
	color: #b41a1a;
	margin-bottom: 20px;
}

#notSupported img {
	display: block;
	margin: 0 auto;
}

#ascii {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: -1.5px;
	text-align: center;
}

#fork {
	 position: absolute; 
	 top: 0; 
	 right: 0; 
	 border: 0;
}
